
<html lang="en">
<head>
    
    <title>Job Portal</title>
    
</head>
<body>

    <div class="container">
        <div id="login-container">
            <h2>Login</h2>
            <form id="login-form">
                <label for="login-username">Username:</label>
                <input type="text" id="login-username" name="login-username" required><br><br>
                <label for="login-password">Password:</label>
                <input type="password" id="login-password" name="login-password" required><br><br>
                <button type="button" onclick="login()">Login</button>
            </form>
        </div>
    </body>
</html>